
body {
    font-family: "Lucida Sans Unicode","Lucida Grande", Geneva, helvetica, sans-serif;
    padding:0;
    margin:0;
}
.navbar {
    /*background: #505050;*/
    border-radius: 0 !important;
    border: none;
    padding:0;
    margin:0;
    min-height: 10em;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.navbar h1 a {
    color: white;
    margin-left: 2em;
    margin-top: 2em;
}

#content {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding:0;
    margin-top: 2em;
}

#profile {
    margin-top: 1em;
}

#pubs ul {
    list-style: none;
}

#pubs li {
    margin-bottom: 1em;
}

#pubs .inner {
    padding-left: 1em;
    overflow: hidden;
    display: none;
}
#pubs .show {
    display: block;
}


#pubs a.toggle {
        width: 100%;
        display: block;
        background: rgba(0,0,0,0.78);
        color: #fefefe;
        padding: .75em;
        border-radius: 0.15em;
        transition: background .3s ease;
    }

li.pub {
    margin-top: 1em;
}

li.pub h5 {
    display: inline;
    font-weight: bold;
    font-size: larger;
}

li.pub span {
    color: #939393;
}

.tab-content {
    margin-top: 2em;
}

img.thumbnail {
    max-width: 225px;
    border-radius: 50%;
    margin-top: -5em;
}

#people-index {
    margin-left: 2em;
}

#people-index h2 {
    border-bottom: 2px solid;
    width: 75%;
}

#people-index .details {
    height: 2em;
}

#people-index.img-wrapper {
    width: 10%;
    float: left;
}

#people-index.details {
    margin-left: 100px;
}

#people-index.overview {
    margin-bottom: 2em;
}

#people-index img.idx {
    width: 75px;
    border-radius: 50%;
    float:left;
    display: inline;
}

#people-index h5.name {
    margin-left: 1em;
}

.orcid img {
    margin-right: .25em;
}

ul.positions {
    margin-left: 1em;
}

span.email {
    /*margin-left: .25em;*/
}
