{% extends "bootstrap/base.html" %}
{% block title %}VIVO Static{% endblock %}

{% block head %}
<meta charset="UTF-8">
{{super()}}
<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
{% endblock %}

{% block styles %}
{{super()}}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
<link rel="stylesheet"
      href="{{url_for('.static', filename='style.css')}}">
{% endblock %}

{% block navbar %}
<div class="navbar navbar-default">
  <h1><a href="{{ url_for('index') }}">VIVO static</a></h1>
</div>
{% endblock %}

{% block content %}
{% endblock %}


{% block scripts %}
{{super()}}
<script src="{{url_for('.static', filename='app.js')}}"></script>
</script>
{% endblock %}
