{% extends "layout.html" %}

{% block title %}VIVO static - {{ person.name }}{% endblock %}

{% block content %}
<div class="row" id="intro-spacer"></div>
<div id="content" class="row">
    <div class="col-md-4">
        {% if person.picture %}
            <img class="thumbnail" src="{{ person.picture }}"/>
        {% endif %}
        <h1>{{ person.name }}</h1>
        {% if person.orcid %}
            <h5 class="orcid"><a href="http://orcid.org/{{ person.orcid }}" target="_vstatic"><img src="https://orcid.org/sites/default/files/images/orcid_16x16(1).gif"/>{{ person.orcid }}</a></h5>
        {% endif %}
        {% if person.email %}
            <h5><i class="fa fa-envelope-o" aria-hidden="true"></i><span class="email">{{ person.email }}</span></h5>
        {% endif %}
        <hr/>
        {% for pos in positions %}
        <ul class="positions list-unstyled">
            <li>{% include 'snippets/position.html' %}</li>
        </ul>
        {% endfor %}
        {% for url in websites %}
        <ul class="websites">
            <li><a href="{{ url.url }}">{{ url.label }}</li>
        </ul>
        {% endfor %}


    </div>

    <div id="profile" class="col-md-8">
        <ul class="nav nav-tabs">
            <li><a href="#overview" data-toggle="tab">Overview</a></li>
            <li><a href="#pubs" data-toggle="tab">Publications</a></li>
            <!-- <li><a href="#ccc" data-toggle="tab">CCC</a></li> -->
        </ul>
        <div class="tab-content" id="tabs">
            <div class="tab-pane" id="overview">
                    {% if person.overview %}
                        {{ person.overview|safe }}
                    {% elif person.description %}
                        {{ person.description }}
                    {% else %}
                        n/a
                    {% endif %}
            </div>
            <div class="tab-pane" id="pubs">
                <ul class="accordion">
                {% for group in publications|groupby('year')|sort(reverse=True) %}
                    <li>
                        <a class="toggle" href="javascript:void(0);">{{ group.grouper }}</a>
                        <ul class="inner">
                        {% for pub in group.list %}
                            <li class="pub">
                             {% include 'snippets/pub.html' %}
                            </li>
                        {% endfor %}
                        </ul>
                    </li>
                {% endfor %}
            </div>
            <!-- <div class="tab-pane" id="ccc">
            </div> -->
        </div>
    </div>

</div>

{% if jsonld %}
<script type="application/ld+json">
{{ jsonld|safe }}
</script>
{% endif %}
{% endblock %}

